<div class="row">

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>


	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

	<div class="col-lg-3 col-md-6 col-sm-12">
		<div class="card mb-5">
			<i class="fas fa-home fa-10x w-100" style="color:#aaa"></i>
			<div class="card-body">
				<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
				</p>
			</div>
			<div class="card-footer text-muted">
				<i class="fas fa-dollar-sign fa-2x"></i>
				<span class="text a lg">&nbsp;</span>
			</div>
		</div>
	</div>

</div>
