<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col"><i class="fas fa-home" style="font-size:20px;color:#777;"></i> <span class="text a lg">&nbsp;</span></th>
			<th scope="col"><span class="text a sm">&nbsp;</span></th>
			<th scope="col"><span class="text a md">&nbsp;</span></th>
			<th scope="col"><i class="fas fa-dollar-sign" style="font-size:20px;color:#777;"></i> <span class="text a md">&nbsp;</span></th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
		<tr class="table-light">
			<td><i class="fas fa-home" style="color:#ccc"></i> <span class="text b lg">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><span class="text b sm">&nbsp;</span></td>
			<td><i class="fas fa-dollar-sign" style="color:#ccc"></i> <span class="text b md">&nbsp;</span></td>
		</tr>
	</tbody>
</table>
