
<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-bell fa-2x" style="color:#777"></i>
						<span class="text a md">&nbsp;</span>
						<span class="text a sm">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-clock fa-2x" style="color:#777"></i>
						<span class="text a md">&nbsp;</span>
						<span class="text a sm">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-bullhorn fa-2x" style="color:#777"></i>
						<span class="text a md">&nbsp;</span>
						<span class="text a sm">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-comment fa-2x" style="color:#777"></i>
						<span class="text a md">&nbsp;</span>
						<span class="text a sm">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-chart-pie fa-3x" style="color:#777"></i>
						<span class="text a lg">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-chart-line fa-3x" style="color:#777"></i>
						<span class="text a lg">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-chart-bar fa-3x" style="color:#777"></i>
						<span class="text a lg">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card text-dark bg-light mb-3" >
				<div class="card-body w-100">
					<h4 class="card-title">
						<i class="fas mr-3 fa-chart-area fa-3x" style="color:#777"></i>
						<span class="text a lg">&nbsp;</span>
					</h4>
					<p class="card-text">
						<span class="text b sm">&nbsp;</span>
						<span class="text b lg">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
						<span class="text b md">&nbsp;</span>
						<span class="text b sm">&nbsp;</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
